<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
    <div class="chatter">
      <h3>Explore ‘The Grand Gallery’</h3>
      <p>In this painting, Samuel F.B. Morse painstakingly re-created some of the world’s greatest artworks so that art students in America &mdash; who didn’t have the privilege of studying in Paris &mdash; could learn from the Old Masters. You can, too. Click on each painting, sculpture or person and learn more about each. </p>
    </div>
      <div class="aspect-outer">
        <div class="aspect-inner">
          <!-- <a class="fullscreen-toggle">View fullscreen</a> -->
          <leaflet-map lat="-73.2" lng="-74.8">
            <tile-layer 
              id="painting"
              url="./assets/tiles/{z}/{x}/{y}.png"
              subdomains=""
              nowrap tms
            >
            </tile-layer>
            <map-options>
{
  "minZoom": 1,
  "maxZoom": 5,
  "maxBounds": [[-90, -187], [-21, 46]],
  "fitBounds": [[-90, -180], [-28.6, 39.55]],
  "scrollWheelZoom": false
}
            </map-options>
          </leaflet-map>
        </div>
      </div>
    </responsive-child>

    <script>
window.paintings = <%= JSON.stringify(json.MorsePainting_zones) %>;
    </script>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
